/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}













@import url('https://fonts.googleapis.com/css?family=Open+Sans|Tomorrow&display=swap');

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap');

@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

@import url('https://fonts.googleapis.com/css?family=Overpass:700&display=swap');

@@font-face {
    font-family: 'Sansita', sans-serif;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Overpass', sans-serif;
}

body {
  background: rgb(226,238,211);
 background: linear-gradient(90deg, rgba(226,238,211,0.8323530095632002) 0%, rgba(225,217,225,0.07885160900297616) 100%);
 background-attachment: fixed;

 display: grid;
 grid-template: auto 1fr auto / 1fr;
 grid-template-areas:
  "nav"
  "main"
  "footer";
}

/* NAV BAR */
.nav-container {
  grid-area: nav;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
  border-color: hsla(0, 0%, 50%, 0.5);
  border-bottom-width: 1px;
}

.nav-content, main, footer {
  width: 700px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
}

.account-things button:hover {
  color: grey;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

button ion-icon {
      vertical-align: middle;
  margin-right: 5px;

}

button {
  border: 0px;
  transition: all 0.3s;
  background: hsla(0, 0%, 0%, 0);
  margin-left: 5px;
  margin-left: 5px;
}



/* MAIN */
/* flex-flow: column nowrap; */
/* align-items: center; */

.main-container {
  grid-area: main;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
}


* {
  /* box-sizing: border-box; */
  font-family: 'Open Sans', sans-serif;
}

label {
  display: none;
}

ion-icon {
  /* color: #865884; */
}

#main-icon {
  font-size: 16px;
}

h1, h2 {
    font-family: 'Overpass', sans-serif;

}

h1 {
  font-size: 1.5rem;
  margin-bottom: 0px;
}

h2 {
  font-size: 2rem;
  text-align: center;

}

/* FOOTER */

.footer-container {
  grid-area: footer;
  display: flex;
  justify-content: center;
}

footer {
  min-height: 150vh;
  font-size: .5rem;
  display: flex;
  justify-content: center;
}



#custom-title {
  font-size: .75rem;
    color: #686868;
}

#page-subtitle {
  /* font-size: 2rem; */
  color: #686868;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 4rem;
}

h3 {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 3rem;
}



form {
  width: 300px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
}

input, select {
  width: 100%;
  height: 20px;
  display: block;
  margin-bottom: 0.15rem;
  padding: 1rem 0.5rem;
}
